@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
h1, app-fecha, app-contacto {
    text-align: center;
}
h1{
    color: mediumslateblue;
}
app-fecha, app-contacto{
    color : blueviolet;
}