@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

$dorado : #D6C886;
$plateado : #C5CFD1;
$negro : #000000;
$blanco : rgb(255, 255, 255);
$verdeClaro : #274948;
$verdeOscuro : #1C3C3A;
$fondoGris : #C5CFD1;
 
*{
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    // border-style: solid;
    // color: white;
}
header{

    nav{
        width: 100%;
        position: fixed;
        border-top: 1px solid $dorado;
        border-bottom: 1px solid $dorado;
        display: flex;
        padding: 10px;
        background-color: $negro;
        #logo{
            display: none;
        }
        #patrocinador{
            width: 150px;
        }
        img{
            padding: 0 20px;
            width: 100px;
        }
        #menu{
            width: 100%;
            list-style-type: none;
            display: flex;
            justify-content: end;
            li{
                padding: 40px 50px;
            }
            a{
                font-size: 20px;
                text-decoration: none;
                color: $blanco;
                transition: 0.4s;
                &:hover{
                    color: $dorado;
                }
            }
        }
    }
}
article{
    padding: 150px 20px 20px 20px;
    form{
        width: 40%;
        margin: 0 auto;
        border-style: solid;
        border-radius: 7px;
        label{
            padding: 20px;
        }
        input, select{
            margin: 10px;
            padding: 8px;
        }
    }
}
